@{
    ViewData["Title"] = "About_Us";
    Layout = "game_index";
}
<link rel="stylesheet" href="/css/Home_About_Us.css" />
<section id="About1">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 text-white" >
                <div class="row">
                    <div class="col-md-5 padd0px0">尖兵全球最大: steam遊戲序號交易買賣。</div><br>
                    <div class="col-md-7 padd0px0"><img src="~/img/Home_About_Us/About_1.jpg" /></div>
                    <div class="col-md-7 padd0px0"><img src="~/img/Home_About_Us/About_2.jpg" /></div>
                    <div class="col-md-5 padd0px0">STEAM 遊戲序號，電子商品售出後無法退貨。</div><br>
                    <div class="col-md-5 padd0px0">啟用之後請幫點完成訂單和評分五星，感謝。</div>
                    <div class="col-md-7 padd0px0"><img src="~/img/Home_About_Us/About_3.jpg" /></div>
                </div>
            </div>
        </div>
    </div>
  
    
</section>
