@model IEnumerable<WebApplication3.Models.Game_mall>
@{
    ViewData["Title"] = "Game_Story18";
    Layout = "Game_index";
}
@foreach (var item in Model)
{
    if (item.Game_number == 18)
    {
        <section id="Game_Story_title">
            <div class="container text-warning">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-12">
                                <h1>@Html.DisplayFor(modelItem => item.Game_name)</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmax">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story18-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story18/@img"></div>
                                    }
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-white swiper-opacity"></div>
                                <div class="swiper-button-prev swiper-button-white swiper-opacity"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmin">
            <div class="container ">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story18-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story18/@img"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Initialize Swiper -->
        <script>
            var galleryThumbs = new Swiper('.gallery-thumbs', {
                spaceBetween: 8,
                slidesPerView: 3,
                loop: true,
                freeMode: true,
                loopedSlides: 4, //looped slides should be the same
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
            });
            var galleryTop = new Swiper('.gallery-top', {
                spaceBetween: 8,
                loop: true,
                loopedSlides: 4, //looped slides should be the same
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                thumbs: {
                    swiper: galleryThumbs,
                },
            });
        </script>
        <section id="Game_Story_sec1">
            <div class="container text-white">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-8 margin10px0">
                                <h3 class="text-warning">遊戲介紹</h3>
                                <h5>在《極速快感™：超熱力追緝》重製版中駕駛全世界最火熱的高性能車款，感受追逐的快感與逃脫的亢奮，體會令人心跳加速的社群競速體驗。</h5>
                            </div>
                            <div class="col-md-4 margin10px0">
                                <video autoplay muted loop id="Game_Story_mp4" class="margin10px0">
                                    <source src="~/img/Game_Story/Game_Story18/Game_Story18-1.mp4" />
                                    您的瀏覽器不支援此影音播放模式!
                                </video>
                                <h6>遊戲類型：@Html.DisplayFor(modelItem => item.Game_category)</h6>
                                <h6>發行日期：@Html.DisplayFor(modelItem => item.Listing_date)</h6>
                            </div>
                            <div class="row h3_color margin10px0" style="width:100%">
                                <div class="col-md-8">
                                    <h3>購買：@Html.DisplayFor(modelItem => item.Game_name)</h3>
                                </div>
                                <div class="col-md-4">
                                    <span>@Html.DisplayFor(modelItem => item.Unit_price)</span>
                                    <form asp-controller="cart" asp-action="stroyaddcart">

                                        <input type="hidden" name="Game_number" value="@item.Game_number">
                                        <div>
                                            <input placeholder="購買數量" name="quantity" value="" style="width:100px">
                                            <button type="submit" style="border: none" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="購物車" data-content="點擊圖片加入購物車">
                                                <img src="~/img/Game_index/cart.png" />
                                            </button>
                                        </div>
                                    </form>
                                    <a class="btn btn-success" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.Game_number">直接購買</a>
                                </div>
                            </div>
                            <div class="col-md-12 margin10px0">
                                <h3 class="text-warning">關於此遊戲</h3>
                                <h6>在 PC 上的《極速快感：超熱力追緝》重製版中感受追逐的快感與逃脫的亢奮。駕駛世界上最火熱的高性能車款，以警匪雙方的身分各自釋放狂野的速度感官。在令人心跳加速的社群競速體驗中，盡情使用戰術武器來智取警方，或逮捕不法之徒。有著強化版畫面、跨平台多人模式等更新 — 包括由 Autolog 驅動的非同步競速模式 — 外加所有額外的主要 DLC 內容，盡情體驗 Criterion Games 備受讚譽的《極速快感》出道作。是時候重新開始追緝了。</h6>
                                <ul>
                                    <li>跨平台多人模式與 Autolog——在蜿蜒海峰郡的道路上風馳電擎，搶先踏上社群競速的核心體驗。突破性的 Autolog 功能讓玩家與好友連線進行追捕與競速等正面對決，並且本能地根據玩家好友的活動提供各種挑戰。這個高度動態的系統由好友競賽驅動，而且現在還支援跨平台同步與新多人模式遊戲，這樣一來玩家無論處於哪個平台都能互相一別苗頭。</li>
                                    <br>
                                    <li>包括所有主要 DLC，外加更多更新 — 推出時即獲得所有額外的主要 DLC，包括 6 小時的額外遊戲內容，以及超過 30 個挑戰。全新的成就、包膜、車輛顏色、減少硬停止情形、更新版的相片模式和畫廊，以及多個產品品質更新，務求創造出更豐富的遊戲體驗。</li>
                                    <br>
                                    <li>重裝上陣的異國車款——駕駛著世界最頂級的超跑，遊走在法律的兩端。駕駛超動力警車進行攔截，並用戰術武器來追捕罪犯，或者扮演精英車手，利用反擊與防禦手段來平衡戰局。無論處於哪一方，都要規劃戰略來在競爭中獲得優勢！</li>
                                    <br>
                                    <li>追逐與逃脫——深入且完整設計過的單人職涯模式提供警方與車手雙方的動作場面，還能跨各個競速模式完美連接多人模式體驗。和好友對決或者單獨遊玩職涯來獲得賞金，藉此解鎖新車款、武器與裝備。</li>
                                    <br>
                                    <li>增強的視覺表現——《極速快感：超熱力追緝》重製版中所有畫面表現都經過更新，能善用現代硬體的效能，提供歷久彌新的競速體驗。</li>
                                    <br>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
<section id="Game_Story_sec2">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="col-md-12 margin10px0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active text-info" data-toggle="tab" href="#Windows">Windows</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Windows">
                            <div class="row">
                                <div class="col-md-6 margin10px0">
                                    <h6>最低配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>作業系統: WIndows 10, 64 Bit</h6>
                                    <h6>處理器: (AMD) Phenom II X4 965 or equivalent (Intel) Corei3-2120 or equivalent</h6>
                                    <h6>記憶體: 8 GB 記憶體</h6>
                                    <h6>顯示卡: (AMD) Radeon HD 5870 or equivalent (Nvidia) GeForce GT 640 or equivalent</h6>
                                    <h6>DirectX: 版本：11</h6>
                                    <h6>網路: 寬頻網際網路連線</h6>
                                    <h6>儲存空間: 45 GB 可用空間</h6>
                                </div>
                                <div class="col-md-6 margin10px0">
                                    <h6>建議配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>作業系統: WIndows 10, 64 Bit</h6>
                                    <h6>處理器: (AMD) FX-8350 or equivalent (Intel) Core i5-350K or equivalent</h6>
                                    <h6>記憶體: 8 GB 記憶體</h6>
                                    <h6>顯示卡:  (AMD) Radeon R9 270x or equivalent (Nvidia) GeForce GTX 660 or Equivalent</h6>
                                    <h6>DirectX: 版本：11</h6>
                                    <h6>網路: 寬頻網際網路連線</h6>
                                    <h6>儲存空間: 45 GB 可用空間</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Game_Story_sec3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row container">
                    <div class="col-md-12 margin10px0">
                        <h3 class="text-warning">精彩影片</h3>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/IsYnAbCxj5s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/gvUNw773OzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/KYNqecUGbwY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/buZgNosGWTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>