@model IEnumerable<WebApplication3.Models.Game_mall>
@{
    ViewData["Title"] = "Game_Story4";
    Layout = "Game_index";
}
@foreach (var item in Model)
{
    if (item.Game_number == 4)
    {
        <section id="Game_Story_title">
            <div class="container text-warning">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-12">
                                <h1>@Html.DisplayFor(modelItem => item.Game_name)</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmax">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story4-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story4/@img"></div>
                                    }
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-white swiper-opacity"></div>
                                <div class="swiper-button-prev swiper-button-white swiper-opacity"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmin">
            <div class="container ">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story4-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story4/@img"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Initialize Swiper -->
        <script>
            var galleryThumbs = new Swiper('.gallery-thumbs', {
                spaceBetween: 8,
                slidesPerView: 3,
                loop: true,
                freeMode: true,
                loopedSlides: 4, //looped slides should be the same
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
            });
            var galleryTop = new Swiper('.gallery-top', {
                spaceBetween: 8,
                loop: true,
                loopedSlides: 4, //looped slides should be the same
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                thumbs: {
                    swiper: galleryThumbs,
                },
            });
        </script>
        <section id="Game_Story_sec1">
            <div class="container text-white">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-8 margin10px0">
                                <h3 class="text-warning">遊戲介紹</h3>
                                <h5>First Class Trouble是個玩家們爲了生存得互相合作，同時也得對付其他人的團體合作游戲。它的目的是關閉一部殺手人工智能。有些玩家是間諜，利用看起來像人類的殺手機器人準備背叛其他玩家。</h5>
                            </div>
                            <div class="col-md-4 margin10px0">
                                <video autoplay muted loop id="Game_Story_mp4" class="margin10px0">
                                    <source src="~/img/Game_Story/Game_Story4/Game_Story4-1.mp4" />
                                    您的瀏覽器不支援此影音播放模式!
                                </video>
                                <h6>遊戲類型：@Html.DisplayFor(modelItem => item.Game_category)</h6>
                                <h6>發行日期：@Html.DisplayFor(modelItem => item.Listing_date)</h6>
                            </div>
                            <div class="row h3_color margin10px0" style="width:100%">
                                <div class="col-md-8">
                                    <h3>購買：@Html.DisplayFor(modelItem => item.Game_name)</h3>
                                </div>
                                <div class="col-md-4">
                                    <span>@Html.DisplayFor(modelItem => item.Unit_price)</span>
                                    <form asp-controller="cart" asp-action="stroyaddcart">

                                        <input type="hidden" name="Game_number" value="@item.Game_number">
                                        <div>
                                            <input placeholder="購買數量" name="quantity" value="" style="width:100px">
                                            <button type="submit" style="border: none" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="購物車" data-content="點擊圖片加入購物車">
                                                <img src="~/img/Game_index/cart.png" />
                                            </button>
                                        </div>
                                    </form>
                                    <a class="btn btn-success" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.Game_number">直接購買</a>
                                </div>
                            </div>
                            <div class="col-md-12 margin10px0">
                                <h3 class="text-warning">關於此遊戲</h3>
                                <h6>First Class Trouble 已在搶先體驗裡，並積極的接受地方話翻譯中。有時更新遊戲時，新的區域的地方話翻譯會更遲緩，並顯示出英文。如果查覺到有地方缺少了您使用的語言時，請告知我們，我們將會盡快的更新遊戲。</h6><br>
                                <h6>First Class Trouble是個玩家們爲了生存得互相合作，同時也得對付其他人的團體合作游戲。它的目的是關閉一艘奢侈宇宙游輪内的殺手人工智能。有些玩家是間諜，利用看起來像人類的殺手機器人準備背叛其他玩家。</h6><br>
                                <h6>玩家們在這款Invisible Walls開發的多人社會欺騙游戲擔任ISS Alithea的乘客角色。這游輪的人工智能系統中心，C.A.I.N.發生了異常並開始將船内的氧氣全吸光了。乘客們得使用近距離聊天室來合作才能達成目標和抵達C.A.I.N.贏得游戲。</h6><br>
                                <h6>同時有著混在乘客之間看起來像人類的機器僕人們正準備獻上他們的報復。人型機器人們得欺騙乘客們，消滅他們，或繼續隱瞞到最後才能贏得游戲。</h6><br>
                                <p><img src="~/img/Game_Story/Game_Story4/Game_Story4-1.gif" class="margin10px0"></p><br>
                                <h6>爲了生存，你得騙過你的朋友們，或將被欺騙……</h6><br>
                                <ul>
                                    <li>爲了前進到船中的不同空間來關閉異常的人工智能，玩家們得互相交流和團結做任務。</li>
                                </ul>
                                <img src="~/img/Game_Story/Game_Story4/Game_Story4-2.gif" class="margin10px0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
<section id="Game_Story_sec2">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="col-md-12 margin10px0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active text-info" data-toggle="tab" href="#Windows">Windows</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Windows">
                            <div class="row">
                                <div class="col-md-6 margin10px0">
                                    <h6>最低配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>作業系統: Windows 10 (64 bit)</h6>
                                    <h6>處理器: Intel Core i3 / AMD Ryzen 3</h6>
                                    <h6>記憶體: 4 GB 記憶體</h6>
                                    <h6>顯示卡: NVIDIA GeForce GTX 650 Ti / AMD Radeon HD 7850</h6>
                                    <h6>DirectX: 版本：11</h6>
                                    <h6>網路: 寬頻網際網路連線</h6>
                                    <h6>儲存空間: 20 GB 可用空間</h6>
                                    <h6>備註: A microphone</h6>
                                </div>
                                <div class="col-md-6 margin10px0">
                                    <h6>建議配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>作業系統: Windows 10 (64 bit)</h6>
                                    <h6>處理器: Intel Core i5 / AMD Ryzen 5 or higher</h6>
                                    <h6>記憶體: 8 GB 記憶體</h6>
                                    <h6>顯示卡: NVIDIA GeForce GTX 970 / AMD Radeon R9 280X or higher</h6>
                                    <h6>DirectX: 版本：11</h6>
                                    <h6>網路: 寬頻網際網路連線</h6>
                                    <h6>儲存空間: 20 GB 可用空間</h6>
                                    <h6>備註: A microphone and headphones</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Game_Story_sec3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row container">
                    <div class="col-md-12 margin10px0">
                        <h3 class="text-warning">精彩影片</h3>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/NWOlKAR9nfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/UI4CziHKdH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/XFDWoHypoik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/q6xWEGsniM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>