@model IEnumerable<WebApplication3.Models.Game_mall>
@{
    ViewData["Title"] = "Game_Story16";
    Layout = "Game_index";
}
@foreach (var item in Model)
{
    if (item.Game_number == 16)
    {
        <section id="Game_Story_title">
            <div class="container text-warning">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-12">
                                <h1>@Html.DisplayFor(modelItem => item.Game_name)</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmax">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story16-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story16/@img"></div>
                                    }
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-white swiper-opacity"></div>
                                <div class="swiper-button-prev swiper-button-white swiper-opacity"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmin">
            <div class="container ">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story16-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story16/@img"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Initialize Swiper -->
        <script>
            var galleryThumbs = new Swiper('.gallery-thumbs', {
                spaceBetween: 8,
                slidesPerView: 3,
                loop: true,
                freeMode: true,
                loopedSlides: 4, //looped slides should be the same
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
            });
            var galleryTop = new Swiper('.gallery-top', {
                spaceBetween: 8,
                loop: true,
                loopedSlides: 4, //looped slides should be the same
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                thumbs: {
                    swiper: galleryThumbs,
                },
            });
        </script>
        <section id="Game_Story_sec1">
            <div class="container text-white">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-8 margin10px0">
                                <h3 class="text-warning">遊戲介紹</h3>
                                <h5>《Outriders》殘暴血腥的戰鬥由激烈的槍枝戰鬥、暴力的技能和具有深度的角色扮演系統所構成。本遊戲是一款跨類別的混合型遊戲。</h5>
                            </div>
                            <div class="col-md-4 margin10px0">
                                <video autoplay muted loop id="Game_Story_mp4" class="margin10px0">
                                    <source src="~/img/Game_Story/Game_Story16/Game_Story16-1.mp4" />
                                    您的瀏覽器不支援此影音播放模式!
                                </video>
                                <h6>遊戲類型：@Html.DisplayFor(modelItem => item.Game_category)</h6>
                                <h6>發行日期：@Html.DisplayFor(modelItem => item.Listing_date)</h6>
                            </div>
                            <div class="row h3_color margin10px0" style="width:100%">
                                <div class="col-md-8">
                                    <h3>購買：@Html.DisplayFor(modelItem => item.Game_name)</h3>
                                </div>
                                <div class="col-md-4">
                                    <span>@Html.DisplayFor(modelItem => item.Unit_price)</span>
                                    <form asp-controller="cart" asp-action="stroyaddcart">

                                        <input type="hidden" name="Game_number" value="@item.Game_number">
                                        <div>
                                            <input placeholder="購買數量" name="quantity" value="" style="width:100px">
                                            <button type="submit" style="border: none" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="購物車" data-content="點擊圖片加入購物車">
                                                <img src="~/img/Game_index/cart.png" />
                                            </button>
                                        </div>
                                    </form>
                                    <a class="btn btn-success" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.Game_number">直接購買</a>
                                </div>
                            </div>
                            <div class="col-md-12 margin10px0">
                                <h3 class="text-warning">關於此遊戲</h3>
                                <p><img src="~/img/Game_Story/Game_Story16/Game_Story16-9.png" class="margin10px0"></p><br>
                                <h6>《OUTRIDERS》是一款可容納 1-3 名玩家，且玩家可隨意進出的合作射擊遊戲。本遊戲的故事背景位於一個原創、黑暗且絕望的科幻宇宙中。</h6><br>
                                <h6>隨著人類在 Enoch 深淵中逐漸消亡，你必須創造你自己的 Outrider 並遊走於各個危險星球。這個多元世界中擁有豐富的劇情，為了追尋神秘的訊號，你將離開第一城市的貧民窟與棚戶區，並跨越森林、山坡與沙漠。</h6><br>
                                <h6>融合了刺激的槍枝玩法、暴力的技能和各種誇張的武器與裝備，《OUTRIDERS》這款由業界頂尖開發商－－People Can Fly 所打造的遊戲將提供你無數小時的娛樂。</h6><br>
                                <h6>射擊遊戲的刺激感與角色扮演遊戲的深度</h6>
                                <h6>《OUTRIDERS》殘暴與血腥的戰鬥中包含瘋狂的槍枝玩法、暴力的技能和有深度的角色扮演系統，本遊戲融合了這些功能並打造出一款真正的混和風格遊戲。</h6><br>
                                <h6>一段黑暗而絕望的旅途</h6>
                                <h6>在搜尋神秘訊號的來源時，探索 Enoch 這座危險的星球。</h6><br>
                                <h6>動態 1-3 名玩家合作模式</h6>
                                <h6>一個人來挑戰這個超進化星球，或是讓兩名朋友隨意進出遊戲。</h6><br>
                                <h6>四種獨特職業</h6>
                                <h6>創建並客製化你自己的 Outrider，並從四種獨特職業中選擇一個，他們各自擁有不同的技能樹來幫助你奠定你自己的遊戲風格。</h6><br>
                                <h6>拾荒並適應</h6>
                                <h6>離開人類文明後，你將能夠使用無數可改裝槍枝與裝備來客製化並升級你的 Outrider。</h6><br>
                                <p><img src="~/img/Game_Story/Game_Story16/Game_Story16-1.gif" class="margin10px0"></p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
<section id="Game_Story_sec2">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="col-md-12 margin10px0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active text-info" data-toggle="tab" href="#Windows">Windows</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Windows">
                            <div class="row">
                                <div class="col-md-6 margin10px0">
                                    <h6>最低配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>作業系統: Windows 10</h6>
                                    <h6>處理器: Intel I5-3470 / AMD FX-8350</h6>
                                    <h6>記憶體: 8 GB 記憶體</h6>
                                    <h6>顯示卡: Nvidia GeForce GTX 750ti / AMD Radeon R9 270x</h6>
                                    <h6>DirectX: 版本：12</h6>
                                    <h6>儲存空間: 70 GB 可用空間</h6>
                                    <h6>備註: 720p / 60fps</h6>
                                </div>
                                <div class="col-md-6 margin10px0">
                                    <h6>建議配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>作業系統: Windows 10</h6>
                                    <h6>處理器: Intel i7-7700K / AMD Ryzen 5 2600X</h6>
                                    <h6>記憶體: 16 GB 記憶體</h6>
                                    <h6>顯示卡: Nvidia GeForce GTX 1070, 8 GB / Radeon RX Vega 56, 8 GB</h6>
                                    <h6>DirectX: 版本：12</h6>
                                    <h6>儲存空間: 70 GB 可用空間</h6>
                                    <h6>備註: 1080p / 60fps</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Game_Story_sec3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row container">
                    <div class="col-md-12 margin10px0">
                        <h3 class="text-warning">精彩影片</h3>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/kKQSavoHAXA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/FOe16QhMq8s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/JzexYV2PK1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/AB4bo26NX1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>