@model IEnumerable<WebApplication3.Models.Game_mall>
@{
    ViewData["Title"] = "Game_Story25";
    Layout = "Game_index";
}
@foreach (var item in Model)
{
    if (item.Game_number == 25)
    {
        <section id="Game_Story_title">
            <div class="container text-warning">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-12">
                                <h1>@Html.DisplayFor(modelItem => item.Game_name)</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmax">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story25-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story25/@img"></div>
                                    }
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-white swiper-opacity"></div>
                                <div class="swiper-button-prev swiper-button-white swiper-opacity"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Game_Story_imgmin">
            <div class="container ">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper">
                                    @for (int i = 1; i <= 8; i++)
                                    {
                                        string img = $"Game_Story25-{i}.png";
                                        <div class="swiper-slide"><img src="~/img/Game_Story/Game_Story25/@img"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Initialize Swiper -->
        <script>
            var galleryThumbs = new Swiper('.gallery-thumbs', {
                spaceBetween: 8,
                slidesPerView: 3,
                loop: true,
                freeMode: true,
                loopedSlides: 4, //looped slides should be the same
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
            });
            var galleryTop = new Swiper('.gallery-top', {
                spaceBetween: 8,
                loop: true,
                loopedSlides: 4, //looped slides should be the same
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                thumbs: {
                    swiper: galleryThumbs,
                },
            });
        </script>
        <section id="Game_Story_sec1">
            <div class="container text-white">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row container">
                            <div class="col-md-8 margin10px0">
                                <h3 class="text-warning">遊戲介紹</h3>
                                <h5>《大衍江湖》是一款武侠题材，结合经营养成，角色扮演的游戏。玩家将操控一个江湖门派；与江湖上的其他各色各样的门派打交道，或建立贸易或直接攻陷；与其他门派弟子交流，或结交或抢夺；江湖世界上各种随机事件，能获得具体好处同时也伴随着各种风险；门派传承，终有一日，将主宰江湖。</h5>
                            </div>
                            <div class="col-md-4 margin10px0">
                                <video autoplay muted loop id="Game_Story_mp4" class="margin10px0">
                                    <source src="~/img/Game_Story/Game_Story25/Game_Story25-1.mp4" />
                                    您的瀏覽器不支援此影音播放模式!
                                </video>
                                <h6>遊戲類型：@Html.DisplayFor(modelItem => item.Game_category)</h6>
                                <h6>發行日期：@Html.DisplayFor(modelItem => item.Listing_date)</h6>
                            </div>
                            <div class="row h3_color margin10px0" style="width:100%">
                                <div class="col-md-8">
                                    <h3>購買：@Html.DisplayFor(modelItem => item.Game_name)</h3>
                                </div>
                                <div class="col-md-4">
                                    <span>@Html.DisplayFor(modelItem => item.Unit_price)</span>
                                    <form asp-controller="cart" asp-action="stroyaddcart">

                                        <input type="hidden" name="Game_number" value="@item.Game_number">
                                        <div>
                                            <input placeholder="購買數量" name="quantity" value="" style="width:100px">
                                            <button type="submit" style="border: none" data-placement="bottom" data-toggle="popover" data-trigger="hover" title="購物車" data-content="點擊圖片加入購物車">
                                                <img src="~/img/Game_index/cart.png" />
                                            </button>
                                        </div>
                                    </form>
                                    <a class="btn btn-success" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.Game_number">直接購買</a>
                                </div>
                            </div>
                            <div class="col-md-12 margin10px0">
                                <h3 class="text-warning">關於此遊戲</h3>
                                <h6>《大衍江湖》是一款武侠题材，结合经营养成，角色扮演的游戏。玩家将操控一个江湖门派；与江湖上的其他各色各样的门派打交道，或建立贸易或直接攻陷；与其他门派弟子交流，或结交或抢夺；江湖世界上各种随机事件，能获得具体好处同时也伴随着各种风险；门派传承，终有一日，将主宰江湖。</h6><br>
                                <h6>弟子招募</h6>
                                <h6>门派要生存自然少不了要招募弟子，招募的手段各式各样，可以通过门派发布消息，也可以派遣弟子到江湖四处寻找，甚至去掳掠关入监牢，强迫其加入；而且据说江湖上还有不少“人贩子”，有钱的话，说不定能买到资质不错的人哟。</h6><br>
                                <h6>功法系统</h6>
                                <h6>玩家门派弟子所学武技全由掌门自创而来，在门派设施“武楼”中，可以选择不同的招式与威力进行组合；如果有特殊能力的护法弟子，武技的威力还能得到额外提升！除了武技，内功、身法等基础功法也不能少，全靠玩家通过各种探索奇遇获得；积累优秀功法并修至圆满然后将其传承下去，门派将越来越强。</h6><br>
                                <h6>炼器炼药</h6>
                                <h6>玩家收集获取到各种类型的材料，可以为门下弟子打造各种装备，根据材料阴阳五行属性的合理搭配与优秀的炼制弟子，打造出的装备属性天差地别；炼制的丹药也会根据不同的药材，拥有不同的功效，是一瓶丹药拥有多种功效，还是专精一种功效，全靠玩家自己搭配。</h6><br>
                                <h6>江湖历练</h6>
                                <h6>门派中的亲传弟子可以被派遣到江湖世界进行历练，玩家需要控制历练弟子在江湖大地图上进行探索与形形色色的人接触；是功力大涨满载而归还是被人截杀于半路，江湖凶险，需要玩家自己选择。</h6><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
<section id="Game_Story_sec2">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="col-md-12 margin10px0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active text-info" data-toggle="tab" href="#Windows">Windows</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Windows">
                            <div class="row">
                                <div class="col-md-6 margin10px0">
                                    <h6>最低配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>記憶體: 8 GB 記憶體</h6>
                                    <h6>儲存空間: 1 GB 可用空間</h6>
                                </div>
                                <div class="col-md-6 margin10px0">
                                    <h6>建議配備: 需要 64 位元的處理器及作業系統</h6>
                                    <h6>記憶體: 8 GB 記憶體</h6>
                                    <h6>儲存空間: 1 GB 可用空間</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Game_Story_sec3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row container">
                    <div class="col-md-12 margin10px0">
                        <h3 class="text-warning">精彩影片</h3>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/y8REs8s9awY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/Gz9ozC-nGFI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/M0MZK4AwAwY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                    <div class="col-md-6">
                        <p><iframe src="https://www.youtube.com/embed/82VoZraHufo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>